@tailwind base;

@tailwind components;

@tailwind utilities;


body{
    background-repeat: no-repeat;
    background-size: cover;
}

.wall-1{
    background-image:url('../images/background-mojito.jpg');
}

.wall-2{
    background-image:url('../images/bottles_bar.jpg');
}

.wall-3{
    background-image:url('../images/background-cocktail.jpg');
}

.wall-4{
    background-image:url('../images/guiness_olive.jpg');
}

.wall-5{
    background-image:url('../images/beverages_setup.jpg');
}

.black-transparent{
    background-color:rgba(0,0,0,0.65);
}
